<html>

<body ng-app="myApp">

<div id="wrapper" ng-controller="mainCtrl">

<h1>Sepcifications and best practice</h1>

<h2>Code documentation</h2>
<ul>
<li>All functions documented unless already documented in underlying trait or abstract class</li>

</ul>


<h2>Versioning</h2>

<ul>
<li>All code is versioned - no exception</li>
<li>Since everything is versioned no need to pollute files with unnecessary meta information like author, date_created and so on</li>
<li>Everytime seomthing new has been done and the code compiles - commit</li>
<li>Don't commit on master if code does not compile</li>
<li>Never stop working without having pushed. If code does not compile, create a new branch</li>
</ul>

<h2>Means of communication</h2>

<ul>
<li>Limit emails whenever possible</li>
<li>Use Slack - nexys.slack.com</li>
</ul>

<h2>Code Best Practice</h2>

<h3>General</h3>


<ul>
<li ng-repeat="item in values | filter:{type_id: 1}">{{item.description}}</li>
</ul>

<h3>Backend</h3>

<ul>
<li ng-repeat="item in values | filter:{type_id: 2}">{{item.description}}</li>
</ul>


<h3>FrontEnd</h3>

<ul>
<li ng-repeat="item in values | filter:{type_id: 3}">{{item.description}}</li>
</ul>

</div>

<script src="bower_components/angular/angular.min.js"></script>
<script>
var app = angular.module('myApp', [])


app.controller('mainCtrl', ['$scope', '$http', '$filter', function($scope, $http, $filter) {

$scope.values = [
	{description: "Respect a strict MVC architecture", type_id: 1},
	{description: "When writing a class/object/case class, avoid using the name of the class in the methods. E.g. Object Movie should not contain a method getMovie but rather simpy get()", type_id: 1},
	{description: "For CRUD object use an abstract class, e.g. tCRUD", type_id: 1},
	{description: "When working with Anorm, table names are never stored in query, but in external variable. Ideally as a table variable in the associated object. This avoids running in big issues when changing table names etc.", type_id: 1},
	{description: "Use functional style whenever possible; i.e. favor map over for-loops etc.", type_id: 1},
	{description: "Use dynamic reference to link whenever possible; i.e. @routes...", type_id: 1},
	{description: "Indentation: define a way of doing it", type_id: 1}
]


}])
</script>

</body>

</html>